@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal selector */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
  
}
/* common style start here  */
.heading_section{
text-align: center;
padding: 50px 20px; 

width: 85%;
margin: 0px auto;
margin-bottom: 20px;
}
.heading_content_h1{
    padding-bottom: 30px;
}
.heading_content_p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
opacity: .7;

letter-spacing: 0%;
text-align: center;
}

/* common style end here  */

/* header section style start here  */
/* navigation style start here  */

.navigation{
    margin: 0px 130px;
    /* border: 1px solid rebeccapurple; */
}
 .navigation_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
    /* border: 1px solid red; */
}
.navigation_h3{
    padding: 10px 0px;
}
.navigation_btn{

}
.navigation_btn button {
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
padding: 10px 20px;
opacity: 0.8;
background-color: transparent;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 600;
cursor: pointer;
text-align: center;

}
.navigation_btn button a{
text-decoration: none;
color: rgb(13, 19, 33);
}
/* navigation style end here  */

/* bannar section style start here  */
.bannar_section{
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
   
}
.bannar_img{
width: 240px;
height: 240px;
margin: 0px auto;
padding: 20px 0px;
}
.bannar_img_content{
    width: 100%;
    height: 100%;
}
.bannar_content{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
}

.bannar_h1_content{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0%;
text-align: center;


}
.bannar_p_content{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    opacity: 0.7;

}
.bannar_button_content{
    margin: 25px 0px;
    border-radius: 8px;

    background: rgb(13, 19, 33); 
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 10px 20px;
cursor: pointer;
text-align: center;
}
.bannar_button_content  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
/* bannar section style end here  */

/* header section style end here  */

/* main section style start here  */


main{
    margin: 0px 130px;
}
/* .why_development style start here */
.why_development{
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
margin-top:50px
}
.main_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
margin: 0px auto;

background-color: white;
border-radius: 8px;
margin-bottom: 30px;

}
.item_1_content{
    flex-basis: 60%;
}
.item_1_img{
    flex-basis: 30%;
    text-align: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 30px 0px;
}
.item_1_img_1{
    width: 100%;
    height: 100%;
    
}
.item_1_content{
   margin: 30px 40px;
}
.item_1_h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 21px;
font-weight: 700;
line-height: 30px;
padding-top: 10px;


margin-bottom: 25px;
}
.item_1_p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 400;
line-height: 24px;
opacity: 0.7;




}
.item_btn{
 
   
    padding: 10px 20px;
    opacity: 0.8;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin-top: 25px;
    
}
.item_btn a{
    text-decoration: none;
    color: black;
}
.main_item_2{
    display: flex;
    flex-direction: row-reverse;
}
.main_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
/* .why_development style end here */
/* .My Inspiration style start here */

.my_inspiration_content{
   
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 30px 70px;
text-align: center;
margin-bottom: 30px;

}
.my_inspiration_content iframe{
    border-radius: 16px;
}

/* .My Inspiration style start here */
/* .My Current Target style start here */
.my_current_target{
    margin: 30px 0px;
}
.my_current_target_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 10px; */
}
.target_item{
    padding: 20px;
}
.target_item img{
    width: 55px;
    height: 55px;
}
.t_i3{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.t_i2{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.t_i1{
    border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.tar_cur_h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 22px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
}
.tar_cur_p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;

    text-align: left;
    opacity: 0.7;
    width: 250px;

    margin-bottom: 15px;
}
.tar_cur_a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    padding-bottom: 4px;
  
}

/* .My Current Target style end here */
/* .My Next Target style start here */
.next_tar_content{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
margin: 20px 0px;
padding: 20px 10px;
}
.next_tar_content{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
gap: 10px;
align-items: center;
}
.next_tar_item_2{
    flex-basis: 60%;
    
}
.next_tar_item_1{
    
    width: 94px;
    height: 90px;
    padding: 10px;
}
.next_tar_item_1 img{
    width: 100%;
    height: 100%;
}
.next_p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;

    text-align: left;
    opacity: 0.7;
    

    margin-bottom: 15px;
}
/* .My Next Target style end here */
/* support style start here  */

.support{
    background-image:linear-gradient( rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../assets/handshake.jpg);
    background-position: center;
    background-size: 100%;
    height: 313px;
    margin-bottom: 80px;
    border-radius: 16px;


}
.support_heading .support_p{
    color: white; 
    padding-bottom:-30px;
}
.support_heading{
    color: white; 
    max-width: 650px;
    
}
.support_input{
   /* width: 700px; */
    margin: 0px auto;
    text-align: center;
    /* display: flex; */
    /* flex-direction: row;
    flex-wrap: wrap; */
}
.input_f_i{
    padding: 11px 20px;
    width: 40%;
    text-align: left;margin: 5px 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
  
    background: rgb(255, 255, 255);
    
}
.input_f_b{
    padding: 7px 20px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 11px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

/* support style end here  */

/* main section style end here  */
/* Footer style start here  */
.footer_section{
    border-radius: 16px;

background: rgba(13, 19, 33, 0.03);
}


.footer_content{
        display: flex;
        margin: 0px 130px;
        justify-content: space-between;
        padding: 20px 0px;
     
}
.footer_item_2 li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.footer_item1{
    padding: 10px;  
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
opacity: .8;
}

/* Footer style end here  */